
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');


.container {
  width: 100%;
  height: 100vh !important;
  background-color: black;

  display: flex;
  flex-direction: column;
}

.first-header {
  width: 100%;
  height: 80px;
  background-color:#FFD700;
  display: flex;
  align-items :center;
  justify-content:  center;
  /* flex-direction:row-reverse; */
  position: relative;
}

.second-header {
  width: 100%;
  height: 80px;
  background-color: gray;
  display: flex;
  align-items :center;
  flex-direction:row-reverse;
}

.spacer {
    display: flex;
    width: 100%;
    flex: 1;
}

.main {
  color: white;
}
/*****************************************************************************************************************/
.second-header ul {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
  background-color: gray;
  list-style-type: none;
}

.second-header li {
  float: right;
}

.second-header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
}

.second-header li a:hover:not(.logo) {
  background-color: #111;
}

.logo  {
  float: left;
  text-align: left;
  color: white;
}
/*****************************************************************************************************************/
.first-header ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFD700;
  }
  
  .first-header li {
    float: right;
  }
  
  .first-header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }
  
  .first-header li a:hover:not(.logo) {
    background-color: #111;
  } 

  
 
/*****************************************************************************************************************/

.search-container{
    
  display: flex;
  align-items: center;
  position:relative;
  flex-direction: row-reverse;

}

.icon{
    color: gray;
}

.search-btn{
position: absolute;

right: 0;
outline: none;
border: none;
background-color:transparent;
z-index: 9999;
}

.first-header input[type=text] {
    padding: 6px;
    
    font-size: 17px;
    border:darkgoldenrod;
    border-radius : 40px;
    position:relative;
    margin-top: 2px;
  }
/* 
   .search-container button {
    float:none;
    padding: 6px 10px;
    margin-top: 0px;
    margin-right: 16px;
    background: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius : 40%;
    position:absolute;
  } */
/* 
  .first-header .search-container button:hover {
    background: #ccc;
  } */

/* 
   @media screen and (max-width: 600px) {
    .first-header .search-container {
      float: none;
      position:relative;
    }
   .first-header input[type=text], .first-header .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    } 
    .first-header input[type=text] {
      border: 1px solid #ccc;  
    }
  } */
/*****************************************************************************************************************/

.icons{
    position:absolute;
    left:0;
    height:100%;
    align-items: center;
    display: flex;
    column-gap: 14px;
    margin-left:16px ;

}

.icons i {
    font-size: 20px;
    color: gray;
}



.active-two ul {
    display:flex;
    height: 100%;
    align-items: center;
    flex-direction: row-reverse;
}

.active-two{
    position:absolute;
    right:0;
    display:flex;
    height: 100%;
    align-items: center;
}

.main{

display:flex;
height:100%;
width: 100%;
align-items: center;
justify-content:center;



}